@media screen and (max-width: 600px) {
  nav {
    width: 90%;
    height: 10%;
  }
  nav h3 {
    width: 50%;
    border-radius: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.197);
  }
  hr {
    width: 90%;
  }
  .contenido {
    width: 90%;
    height: 80%;
  }
  .contenido .perfil {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 40%;
  }
  .perfil img {
    margin: auto;
  }
  .perfil h3 {
    margin-top: 10px;
    text-align: center;
  }
  .contenido .sobre-mi {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 50%;
  }
  .sobre-mi h2 {
    margin: 0;
  }
  .sobre-mi a,
  p {
    margin: 0;
  }
  .sobre-mi a {
    padding: 0.2rem;
    width: 40%;
    height: 11%;
  }
  .habilidades {
    width: 100%;
    height: 25%;
    margin-top: 0.5rem;
  }
  .habilidades ul {
    justify-content: flex-start;
  }
  .habilidades li {
    width: 50%;
    justify-content: flex-start;
  }
  .habilidades h3 {
    height: 20%;
  }
  .contenido article {
    display: flex;
    flex-flow: column;
    margin-top: 1rem;
    width: 100%;
    height: 30%;
    margin-left: 0;
  }

  .contenido article p {
    display: none;
  }
  .contenido article a {
    width: 60%;
    height: 90%;
    margin: auto;
  }
  .contenido article img {
    margin-top: 1rem;
    width: 100%;
    height: 80%;
  }
  .contacto {
    width: 100%;
  }
}
