@media screen and (max-width: 600px) {
  nav {
    width: 90%;
    height: 10%;
  }
  nav h3 {
    width: 50%;
    border-radius: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.197);
  }
  hr {
    width: 90%;
  }
  .contenido {
    width: 90%;
    height: 80%;
  }
  .contenido .perfil {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 40%;
  }
  .perfil img {
    margin: auto;
  }
  .perfil h3 {
    margin-top: 10px;
    text-align: center;
  }
  .contenido .sobre-mi {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 50%;
  }
  .sobre-mi hr {
    width: 88%;
  }
  .sobre-mi a,
  p {
    margin: 0;
  }
  .sobre-mi a {
    padding: 0.2rem;
    width: 40%;
    height: 11%;
  }
  .habilidades {
    width: 50%;
    height: 35%;
    margin-top: 1rem;
  }
  .habr {
    display: block;
    width: 100%;
    background: var(--rgb-bg);
  }
  .contenido article {
    margin-top: 1rem;
    width: 100%;
    height: 30%;
    margin-left: 0;
  }

  .contenido article p {
    display: none;
  }
  .contenido article img {
    width: 80px;
    height: 80px;
    margin-top: 1rem;
    margin-left: 130px;
  }
  .contacto {
    width: 100%;
  }
}
