:root {
  --rgb-bg: linear-gradient(
    90deg,
    rgb(20, 25, 22),
    rgb(51, 43, 34),
    rgb(83, 60, 47),
    rgb(110, 76, 59),
    rgb(130, 89, 70),
    rgb(139, 98, 79),
    rgb(138, 102, 84),
    rgb(126, 102, 87),
    rgb(104, 98, 86),
    rgb(76, 88, 82),
    rgb(44, 75, 75),
    rgb(12, 59, 65),
    rgb(0, 42, 54)
  );
}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 42, 54);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.flexr {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.flexrr {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.flexc {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.flexcc {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
body {
  width: 100%;
  height: 100vh;
  background: var(--rgb-bg);
  display: flex;
  flex-flow: column;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  color: rgb(0, 42, 54);
}

main {
  margin-top: 2rem;
  width: 100%;
  height: 95%;
  background-color: white;
  border-radius: 0.5rem;
}
nav {
  margin-top: 2rem;
  width: 60%;
  height: 5%;
}
nav h3 {
  text-align: center;
  width: 25%;
  padding-top: 0.3rem;
  cursor: pointer;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
nav h3:hover {
  background-color: rgb(12, 59, 65);
  color: white;
}
hr {
  background: var(--rgb-bg);
  width: 60%;
  height: 2px;
  margin: 0;
}
.contenido {
  width: 60%;
  height: 90%;
  transition: all 0.5s linear;
}
.contenido .perfil {
  width: 40%;
}
.perfil img {
  max-width: 80%;
  height: 45%;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0.5px rgb(148, 147, 147);
}
.perfil img:hover {
  cursor: pointer;
  transform: scale(1.01, 1.01);
}
.perfil h3 {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}
b {
  color: rgb(12, 59, 65);
}
.contenido .sobre-mi {
  width: 60%;
}
.sobre-mi hr {
  width: 94%;
  background: rgb(12, 59, 65);
}
.sobre-mi p {
  letter-spacing: 1px;
  line-height: 1.6;
  padding: 1rem;
}
.sobre-mi a {
  margin: 1rem;
  padding: 0.2rem;
  text-align: center;
  background-color: rgb(12, 59, 65);
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: medium solid rgba(62, 62, 90, 0);
  border-radius: 1rem;
  width: 32%;
  height: 6%;
}
.sobre-mi a:hover {
  background-color: white;
  border: medium solid rgb(12, 59, 65);
  color: rgb(12, 59, 65);
  transform: scale(1.01, 1.01);
}
.cambio-color {
  background-color: rgb(232, 138, 24);
  color: white;
}
.cambio-color:hover {
  color: rgb(22, 100, 110);
  background-color: white;
}
.loader img {
  margin-top: 5rem;
  width: 40px;
  height: 40px;
}
.habilidades {
  width: 100%;
  height: 15%;
  font-weight: 550;
  margin-top: 1rem;
}

.habilidades h3 {
  text-align: center;
  height: 40%;
  color: rgb(51, 43, 34);
}
.habilidades img {
  width: 30px;
  height: 30px;
  border-radius: 0.5rem;
  object-fit: contain;
}
.habilidades img:hover {
  transform: scale(1.1, 1.1);
}
.habilidades ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.habilidades li {
  margin-top: 0.7rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 25%;
  list-style: none;
}
.habback li {
  width: 33%;
}
.habr {
  display: none;
}
.habilidades li a {
  padding-top: 5px;
  text-decoration: none;
  background-color: rgb(244, 249, 251);
  color: rgb(12, 59, 65);
  margin-left: 10px;
}
.habilidades li a:hover {
  color: orangered;
}
.contenido article {
  margin-left: 1rem;
  margin-top: 2rem;
  width: 30%;
  height: 80%;
}
.contenido h2 {
  margin-bottom: 1rem;
  color: rgb(51, 43, 34);
  text-align: center;
}
.contenido p {
  letter-spacing: 1px;
  line-height: 1.6;
}
.contenido article h2 {
  margin-bottom: 0;
}
.contenido article img {
  max-width: 100%;
  margin-bottom: 0.5rem;
  box-shadow: 0px 0px 5px 0.5px rgb(148, 147, 147);
  border-radius: 1rem;
}
.contacto {
  font-weight: 550;
  margin-top: 2rem;
  width: 80%;
  height: 80%;
}
.contacto img {
  width: 30px;
  height: 30px;
  border-radius: 0.5rem;
}
.contacto li {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  list-style: none;
}
.contacto a {
  color: rgb(12, 59, 65);
  text-decoration: none;
  margin-left: 1rem;
}
.contacto a:hover {
  color: orangered;
}
.contacto li h4 {
  width: 60%;
  margin-left: 1rem;
}
.contacto img:hover {
  transform: scale(1.1, 1.1);
}
